<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/javascripts/uploadfiles.js"></script>
</head>
<body>
<section>
    <header>
        <h2>Upload Using AJAX</h2>
    </header>
    <h1>File Uploads</h1>
    <input type="file" multiple/>
    <button>Upload the File</button>
</section>

</body>
</html>